<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <!-- 这个例子演示了我们不仅可以把数据绑定到 DOM 文本或 attribute，还可以绑定到 DOM 结构。 -->
        <p v-if="seen">现在你看到我了。。</p v-if="seen">
        <button v-on:click="handle">切换消失</button>
    </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                // 在控制台输入 app.seen = false，会发现之前显示的消息消失了。
                seen: true
            },
            methods: {
                handle: function () {
                    this.seen = false;
                }
            }
        });
    </script>
</body>

</html>